/* featureContainer {
    width: 250px;
    height: 100%;
    background-color: #151d29;
    padding: 15px;
    border-radius: 15px;
    margin: 10px;
    box-sizing: border-box;
    flex: 1 1 200px;
} */
/* @media (min-width: 1101px) {
    featureContainer {
        width: 250px;
        margin: 25px;
    }
}

@media (max-width: 1100px) {
    featureContainer {
        width: calc(100vw - 40px);
    }
} */

featureContainer {
    background-color: #151d29;
    padding: 15px;
    border-radius: 12px;
    /* width: min(250px, calc(100% - 40px)); */
    /* margin-top: 25px;
    margin-bottom: 25px; */
    text-align: left;
    color: white;
    text-decoration: none;
    transition: all 0.4s;

    flex: 1 1 calc(33.333% - 10px);
    box-sizing: border-box;

    min-width: 250px;
}

featureContainer h2 {
    margin-bottom: 15px;
    text-align: center;
    color: #DF6874;
}

featureContainer i {
    width: 100%;
    margin-bottom: 15px;
    text-align: center;
    font-size: 50px;
}

featureContainer p {
    color: rgba(255, 255, 255, 0.681);
}