#landingSpread {
    /* width: calc(100vw - 60px); */
    background-color: #151d29;
    display: flex;
    /* margin: 20px; */
    margin-top: 20px;
    border-radius: 20px;
    text-decoration: none;
}

#landingSpread #leftSide #second {
    color: #DF6874;
}

#landingSpread:hover #leftSide #second {
    text-decoration: underline;
}

#leftSide {
    padding: 50px;
    width: 50%;
}

#leftSide h1 {
    margin-bottom: 5px;
    font-size: min(150px, 20vw);
}
#leftSide #first {
    margin-top: max(-35px, -4.67vw);
    margin-bottom: 25px;
    margin-left: 10px;
}

#rightSide  {
    width: 50%;
    height: auto;
    margin: 20px;
    float: right;
    border-radius: 15px;
}

@media (max-width: 1100px) {
    #landingSpread {
        display: inline-block;
    }

    #landingSpread #rightSide {
        width: calc(100% - 40px);
        margin-left: 20px;
    }
}

@media (min-width: 1101px) {
    #landingSpread {
        display: flex;
    }

    #landingSpread #rightSide {
        width: 50%;
        height: auto;
    }
}