navbar ul {
    display: flex;
    background-color: black;
    width: 100%;

}

navbar ul li {
    list-style: none;
    background-color: black;
}

navbar ul li a {
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 30px;
    display: block;
}

navbar ul li a:hover {
    background-color: rgb(47,47,60);
}

navbar ul .right {
    margin-left: auto;
    color: pink;
}